/* This code is only meant for previewing your Reflow design. */
#text3 {
    float: left;
    font-size: 1em;
    width: 590px;
    height: 32px;
    text-align: center;
    font-weight: normal;
    line-height: 1em;
    margin-left: 15.908108%;
    margin-top: 64.6875px;
    clear: both;
    min-height: 0px;
    color: rgb(114, 114, 114);
    font-family: aclonica;
    margin-right: 0%;
}

#mea_text {
    float: left;
    font-size: 26px;
    width: 201px;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin-left: 6.92234%;
    margin-top: 69px;
    clear: none;
    min-height: 0px;
}

#ins_text {
    float: left;
    font-size: 26px;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin-left: 9.518217%;
    margin-top: 69px;
    clear: none;
    min-height: 0px;
}

#image {
    float: left;
    width: auto;
    max-width: 100%;
    height: auto;
    margin-left: 6.92234%;
    margin-top: 29px;
    clear: both;
    color: rgb(0, 0, 0);
    margin-right: 0%;
}

#image1 {
    float: left;
    width: auto;
    max-width: 100%;
    height: auto;
    margin-left: 9.518217%;
    margin-top: 29px;
    clear: none;
    color: rgb(0, 0, 0);
    margin-right: 0%;
}

#mea_text {
    float: left;
    font-size: 1em;
    width: 63.413579%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin-left: 6.92234%;
    margin-top: 47px;
    clear: both;
    min-height: 132px;
}

@media only screen and (max-width: 1648px) {
   #text3 {
        float: left;
        font-size: 1em;
        width: 590px;
        height: 32px;
        text-align: center;
        font-weight: normal;
        line-height: 1em;
        margin-left: 15.908108%;
        margin-top: 64.6875px;
        clear: both;
        min-height: 0px;
        color: rgb(114, 114, 114);
        font-family: aclonica;
        margin-right: 0%;
    }

    #mea_text {
        float: left;
        font-size: 26px;
        width: 201px;
        height: auto;
        text-align: left;
        font-weight: normal;
        line-height: 1em;
        margin-left: 6.92234%;
        margin-top: 69px;
        clear: none;
        min-height: 0px;
    }

    #ins_text{
        float: left;
        font-size: 26px;
        width: auto;
        height: auto;
        text-align: left;
        font-weight: normal;
        line-height: 1em;
        margin-left: 9.518217%;
        margin-top: 69px;
        clear: none;
        min-height: 0px;
    }

    #image {
        float: left;
        width: auto;
        max-width: 100%;
        height: auto;
        margin-left: 6.92234%;
        margin-top: 29px;
        clear: both;
        color: rgb(0, 0, 0);
        margin-right: 0%;
    }

    #image1 {
        float: left;
        width: auto;
        max-width: 100%;
        height: auto;
        margin-left: 9.518217%;
        margin-top: 29px;
        clear: none;
        color: rgb(0, 0, 0);
        margin-right: 0%;
    }

    #mea_text {
        float: left;
        font-size: 1em;
        width: 63.413579%;
        height: auto;
        text-align: left;
        font-weight: normal;
        line-height: 1em;
        margin-left: 6.92234%;
        margin-top: 47px;
        clear: both;
        min-height: 132px;
    }

    #textspan {
        float: none;
        font-size: 18px;
        line-height: 1em;
    }

    #textspan1 {
        float: none;
        font-size: 18px;
        line-height: 1em;
    }
}

