/* -*- css -*- */

body {
        padding-top: 1em;
}

#madness-top-nav {
        position: absolute;
        right: 1em;
        border-radius: 5px;
}

@media (max-width: 979px) {
        body {
                padding-top: 0.5em;
        }
        .contents {
                margin-top: 3em;
        }
}

@media (max-width: 1210px) {
        .visible-large {
                display: none !important;
        }
}

footer {
        padding: 0 2em;
}

#madness-navigation a, #madness-navigation span {
        opacity: 0.5;
        display: inline;
}

#madness-navigation a:hover, #madness-navigation span:hover, #madness-navigation h4 a {
        opacity: 1;
        background: transparent;
}

#dist-select select {
        background: #efefef;
        color: #000;
}

.madness-article-meta {
        margin-bottom: 1.5em;
        padding-bottom: 0.5em;
        border-bottom: 1px dotted #999;
}

.madness-post-title {
        overflow-y: visible;
        overflow-x: hidden;
        text-overflow: ellipsis;
        -o-text-overflow: ellipsis;
        white-space: nowrap;
}

.madness-read-on {
        margin: 1em;
}
