<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Asylum: Diaries of a Madman</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Gergely Nagy">

    <meta property="og:title"
          id="madness-og-title" content="Asylum: Diaries of a Madman">
    <meta property="og:image" content="http://asylum.madhouse-project.org/assets/asylum/images/mhp-logo-big.png">
    <meta property="og:url"
          id="madness-og-url" content="http://asylum.madhouse-project.org/">
    <meta property="og:description"
          id="madness-og-description" content="">

    <link href="http://netdna.bootstrapcdn.com/bootswatch/3.0.2/yeti/bootstrap.min.css"
          rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">

    <link href="/assets/asylum/images/mhp-logo.png" rel="icon">
    <link href="/assets/asylum/css/asylum6.css" type="text/css" rel="stylesheet">

    <link href="/assets/asylum/css/pygments.css" type="text/css" rel="stylesheet">
    <link rel="alternate" type="application/atom+xml" title="Asylum: Diaries of a Madman"
          href="/blog/atom.xml" id="main-rss">

    <!--[if lt IE 9]>
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>

  <body>
    <script src="https://code.jquery.com/jquery.js"></script>

    <div class="container">
      <!-- menu -->
      <div class="row top">
        <div class="col-lg-9 col-md-9 col-sm-8 col-left madhouse-navbar-top">
          <span class="name"><a href="/">Diaries of a Madman</a></span>
          <span class="navbar-copyright pull-right visible-md visible-lg">
            <small>Copyright &copy; 2010-2014 Gergely Nagy
              &nbsp; | &nbsp;</small>
            <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">
              <img alt="Creative Commons License"
                   src="//i.creativecommons.org/l/by-sa/4.0/80x15.png" width="80" height="15"></a>
          </span>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-4 col-right">
          <nav class="visible-lg visible-md">
            <ul class="list-inline">
              <li class="active">
                <a href="#blog" data-toggle="tab">Blog</a>
              </li>
              <li>
                <a href="#projects" data-toggle="tab">Projects</a>
              </li>
              <li>
                <a href="#contact" data-toggle="tab">Contact</a>
              </li>
            </ul>
          </nav>
          <nav class="visible-xs visible-sm">
            <ul class="list-inline">
              <li class="active">
                <a href="/blog/archives/">Blog</a>
              </li>
              <li>
                <a href="/projects/">Projects</a>
              </li>
              <li>
                <a href="/about/">Contact</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>

      <div class="row bottom">
        <div class="col-lg-9 col-md-9 col-sm-8 col-left">
          <div>
            <section id="madness-article" class="madness-article-frame" tabindex="1">
              <h2 title="The latest article">
                <a href="#">The latest article</a>
              </h2>

              <div class="madness-article-meta">
                <span class="article-date">
                  <i class="fa fa-calendar fa-fw"></i>
                  <a href="#" id="madness-article-date">2013-11-30</a>
                </span>
                <span class="article-tags pull-right">
                  <i style="color: #808080" class="fa fa-tags fa-fw"></i>
                  <span id="madness-article-tags">
                    <a href="#"><span>tag</span></a>
                </span>
                <hr>
              </div>

              <div id="madness-article-content">
                ....
              </div>

              <div id="madness-article-read-more">
                <a class="btn btn-primary madness-read-on">
                  Read on <i class="fa fa-fw fa-angle-double-right"></i>
                </a>
              </div>

              <div id="madness-article-neighbours">
                <ul class="pager">
                  <li class="previous" id="madness-article-prev">
                    <a href="#">&lt; Prev</a>
                  </li>
                  <li class="next" id="madness-article-next">
                    <a href="#">Next &gt;</a>
                  </li>
                </ul>
              </div>

              <div class="row" id="madness-article-share">
                <hr>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                  <h3 class="share">Share</h3>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 text-right">
                  <a href="https://twitter.com/share?url="
                     class="btn btn-success btn-xs madness-share-twitter"
                     target="_blank">
                    <i class="fa fa-fw fa-twitter"></i>
                  </a>
                  <a href="https://plus.google.com/share?url="
                     target="_blank"
                     class="btn btn-success btn-xs madness-share-google-plus">
                    <i class="fa fa-fw fa-google-plus"></i>
                  </a>
                  <a href="https://flattr.com/submit/auto?user_id=algernon&title=Diaries+of+a+Madman&category=text&url="
                     class="btn btn-success btn-xs madness-share madness-share-flattr"
                     target="_blank">
                    <i class="fa fa-fw fa-gittip fa-inverse"></i>
                  </a>
                </div>
              </div>

              <div id="madness-archive-recent-posts">
                <div id="madness-archive-recent-post-row">
                  <div class="col-xs-3" id="madness-archive-recent-post">
                    <h3 class="madness-post-title">
                      <a href="#" rel="tooltip"
                         title="The latest article">
                        The latest article
                      </a>
                    </h3>
                </div>
              </div>

              <div id="madness-archive-archived-posts">
                <div class="row" id="madness-archive-archived-post-row">
                </div>
              </div>

            </section>
          </div>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-4 col-right tab-content hidden-xs hidden-sm">
          <div id="scroll-shadow"></div>
          <section id="blog" class="tab-pane active">
            <div class="row">
              <div class="col-lg-12">

              <div class="madhouse-taglist" id="madness-tags">
                <span class="madness-tag"><a href="#">tag #1</a></span>
              </div>

              <a href="/blog/archives/"
                 class="btn btn-info btn-xs pull-right">Archives</a>

              <br><br>
              <hr>

              <ul id="madness-recent-posts" class="nav">
                <li><a href="#">Post #1</a></li>
              </ul>

              </div>
            </div>
          </section>

          <section id="projects" class="tab-pane">
            <div class="row">
              <div class="col-lg-12">

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 project-item">
                  <div class="panel panel-default">
                    <div class="panel-heading text-center">
                      <a href="http://www.bajcsinagy.com/">
                        <img src="/assets/asylum/images/bnb-logo.png">
                      </a>
                    </div>
                    <div class="panel-body">
                      <a href="http://www.bajcsinagy.com/">
                        <strong>Portfolio of Bajcsi-Nagy Balazs</strong>
                      </a>
                    </div>
                  </div>
                </div>

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 project-item">
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <a href="/projects/">
                        <strong class="fa-2x">
                          <i class="fa fa-fw fa-floppy-o"></i>
                          Software
                        </strong>
                      </a>
                    </div>
                    <div class="panel-body">
                      <p>
                        Most of the software I wrote are available on
                        <a href="https://github.com/algernon">GitHub</a>. For
                        the Debian and Ubuntu packages I provide, see the
                        <a href="/projects/debian/">repository page</a>, for
                        <code>syslog-ng</code> resources, see
                        <a href="/projects/syslog-ng/">its project page</a>.
                      </p>
                    </div>
                  </div>
                </div>

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 project-item">
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <a href="/blog/tags/howto/">
                        <strong class="fa-2x">
                          <i class="fa fw fa-file-text-o"></i>
                          Documentation
                        </strong>
                      </a>
                    </div>
                    <div class="panel-body">
                      <p>
                        A number of <a href="/blog/tags/howto/">HOWTOs</a> are
                        hosted on this site.
                      </p>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </section>

          <section id="contact" class="tab-pane">
            <div class="row">
              <div class="col-lg-12">

                <!--panel contact-->
                <div class="panel panel-default item">
                  <div class="panel-heading" style="text-align: center">
                    <img 
                         src="http://asylum.madhouse-project.org/assets/asylum/images/algernon-mouse.png" alt="Avatar">
                  </div>

                  <div class="panel-body">
                    <a href="#"><h4 class="item-title">Gergely Nagy</h4></a>

                    <p class="item-category">A tiny mouse, a hacker.</p>

                    <p class="item-description">
                      Senior software engineer at <a href="#">BalaBit</a>, Debian developer,
                      GPL zealot and a few other boring things. If you are a recruiter,
                      I strongly recommend reading
                      <a href="/about/for-recruiters/">my list of conditions and
                      preferences</a>, which I prepared just to make your life
                      easier.
                    </p>

                    <hr>

                    <!--social networks-->
                    <div class="item-social text-center">
                      <a href="mailto:algernon+web@madhouse-project.org"
                         class="btn btn-success btn-sm">
                        <i class="fa fa-fw fa-envelope fa-2x"></i>
                      </a>
                      <a href="https://github.com/algernon"
                         class="btn btn-success btn-sm">
                        <i class="fa fa-fw fa-github-alt fa-2x"></i>
                      </a>
                      <a href="https://twitter.com/algernoone"
                         class="btn btn-success btn-sm">
                        <i class="fa fa-fw fa-twitter fa-2x"></i>
                      </a>
                      <a href="https://plus.google.com/116945904339060122801/posts"
                         class="btn btn-success btn-sm">
                        <i class="fa fa-fw fa-google-plus fa-2x"></i>
                      </a>
                      <hr>
                      <a href="https://identi.ca/algernon" class="btn btn-info btn-sm">
                        identi.ca
                      </a>
                      <a href="http://qa.debian.org/developer.php?login=algernon@madhouse-project.org" class="btn btn-info btn-sm">
                        Debian
                      </a>
                      <a href="http://algernon.blogs.balabit.com/" class="btn btn-info btn-sm">
                        BalaBit
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>

    <!-- Scripts -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/mousetrap/1.4.5/mousetrap.min.js"></script>
    <script src="/assets/asylum/js/jquery.touchwipe.min.js"></script>
    <script src="/assets/asylum/js/asylum.js"></script>
    <script type="text/javascript">
      var pkBaseURL = (("https:" == document.location.protocol) ? "https://stats.madhouse-project.org/piwik/" : "http://stats.madhouse-project.org/piwik/");
      document.write(unescape("%3Cscript src='" + pkBaseURL + "piwik.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
      try {
        var piwikTracker = Piwik.getTracker(pkBaseURL + "piwik.php", 9);
        piwikTracker.trackPageView();
        piwikTracker.enableLinkTracking();
      } catch( err ) {}
    </script>
    <noscript><p><img src="//stats.madhouse-project.org/piwik/piwik.php?idsite=9" style="border:0" alt="" /></p></noscript>
  </body>
</html>
