<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Asylum: Diaries of a Madman</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Gergely Nagy">

    <link href="//netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome.css" rel="stylesheet">
    <link href="/assets/asylum/css/theme.min.css" rel="stylesheet">
    <link href="/assets/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="/assets/asylum/images/mhp-logo.png" rel="icon">
    <link href="/assets/asylum/css/asylum4.css" type="text/css" rel="stylesheet">
    <link href="/assets/asylum/css/pygments.css" type="text/css" rel="stylesheet">
    <link rel="alternate" type="application/atom+xml" title="Asylum: Diaries of a Madman"
          href="/blog/atom.xml" id="main-rss">

    <!--[if lt IE 9]>
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>

  <body>
    <!-- Top navigation -->
    <nav id="madness-top-nav">
      <div class="btn-group">
        <a href="/" class="btn">
          <i class="icon-home icon-2x hidden-desktop"></i>
          <span class="visible-desktop">
            &nbsp; Home &nbsp;
          </span>
        </a>
        <a href="/about/" class="btn hidden-desktop">
          <i class="icon-info-sign icon-2x"></i>
        </a>
        <a href="/projects/" class="btn hidden-desktop">
          <i class="icon-briefcase icon-2x"></i>
        </a>
        <a href="/blog/archives/" class="btn">
          <i class="icon-list icon-2x hidden-desktop"></i>
          <span class="visible-desktop">
            &nbsp; Archives &nbsp;
          </span>
        </a>
        <a href="/blog/atom.xml" id="rss-feed" class="btn">
          <i class="icon-rss icon-2x hidden-desktop"></i>
          <span class="visible-desktop">
            &nbsp; RSS Feed &nbsp;
          </span>
        </a>
      </div>
    </nav>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>

    <!-- Main contents -->
    <div class="container-fluid contents" id="madness-content-area">
      <div class="row-fluid">
        <div class="span12">

          <!-- Top article / page title -->
          <div id="madness-article">
            <h2 title="The latest article"><a href="#">The latest article</a></h2>
            <div class="madness-article-meta">
              <i class="icon-time"></i> &nbsp; <a href="#" id="madness-article-date">2013-01-26</a>
              &nbsp;-&nbsp;
              <i class="icon-tags"></i>&nbsp;
              <span id="madness-article-tags">
                <a href="/blog/tags/foo"><span>tag1</span></a>
              </span>
            </div>

            <p id="madness-article-content">
              Lorem ipsum dolor sit amet, consectetur adipiscing
              elit. Donec a diam lectus. Sed sit amet ipsum
              mauris. Maecenas congue ligula ac quam viverra nec
              consectetur ante hendrerit. Donec et mollis
              dolor. Praesent et diam eget libero egestas mattis sit
              amet vitae augue. Nam tincidunt congue enim, ut porta
              lorem lacinia consectetur. Donec ut libero sed arcu
              vehicula ultricies a non tortor. Lorem ipsum dolor sit
              amet, consectetur adipiscing elit. Aenean ut gravida
              lorem. Ut turpis felis, pulvinar a semper sed,
              adipiscing id dolor. Pellentesque auctor nisi id magna
              consequat sagittis. Curabitur dapibus enim sit amet elit
              pharetra tincidunt feugiat nisl imperdiet. Ut convallis
              libero in urna ultrices accumsan. Donec sed odio
              eros. Donec viverra mi quis quam pulvinar at malesuada
              arcu rhoncus. Cum sociis natoque penatibus et magnis dis
              parturient montes, nascetur ridiculus mus. In rutrum
              accumsan ultricies. Mauris vitae nisi at sem facilisis
              semper ac in est.
            </p>

            <p id="madness-article-read-more">
              <a class="btn btn-primary madness-read-on">Read on &raquo;</a>
            </p>
          </div>

          <div id="madness-article-neighbours">
            <hr>
            <div class="row-fluid">
              <div class="pull-right" id="madness-article-prev">
                <a class="btn btn-inverse" href="#"><span>Title of the previous post</span> &raquo;</a>
              </div>
              <div class="pull-left" id="madness-article-next">
                <a class="btn btn-inverse" href="#">&laquo; <span>Title of the next post</span></a>
              </div>
            </div>
          </div>

          <!-- Recent posts -->
          <div id="madness-archive-recent-posts" class="visible-desktop">
            <div class="row-fluid" id="madness-archive-recent-post-row">
              <div class="span4" id="madness-archive-recent-post">
                <h3 class="madness-post-title">
                  <a href="#" rel="tooltip"
                    title="The latest article">The latest article</a>
                </h3>

                <p id="madness-recent-article-meta" class="visible-desktop">
                  <i class="icon-time"></i> &nbsp; <a href="#" id="madness-recent-article-date">2013-01-26</a>
                  &nbsp;-&nbsp;
                  <span id="madness-recent-article-tags">
                    <i class="icon-tags"></i>&nbsp;
                    <a href="/blog/tags/foo">tag1</a>
                  </span>
                </p>

                <p id="madness-recent-article-summary">
                  Donec id elit non mi porta gravida at eget
                  metus. Fusce dapibus, tellus ac cursus commodo, tortor
                  mauris condimentum nibh, ut fermentum massa justo sit
                  amet risus. Etiam porta sem malesuada magna mollis
                  euismod. Donec sed odio dui.
                </p>
              </div>
            </div>
          </div>

          <!-- Archive -->
          <div id="madness-archive-archived-posts">
            <div class="row-fluid" id="madness-archive-archived-post-row">
            </div>
          </div>

        </div>
      </div>
    </div>

    <!-- Footer -->
    <footer class="container-fluid">
      <!-- navigation -->
      <div class="row-fluid visible-desktop">
        <div class="span12">
          <hr>
        </div>
      </div>

      <div class="row-fluid visible-desktop" id="madness-navigation">
        <div class="span1"></div>
        <div class="span3">
          <h4>Recent posts</h4>
          <ul id="madness-recent-posts" class="nav">
            <li><a href="#">Post #1</a></li>
          </ul>
        </div>
        <div class="span2">
          <h4>Tags</h4>
          <ul id="madness-tags" class="nav">
            <li class="madness-tag"><a href="#">Tag #1</a></li>
          </ul>
        </div>
        <div class="span3">
          <h4><a href="/projects/">Projects</a></h4>
          <ul class="nav">
            <li>
              <a href="http://www.bajcsinagy.com/">
                Portfolio of Balázs Bajcsi-Nagy
              </a>
            </li>
            <li>
              <a href="/projects/syslog-ng/">
                syslog-ng
              </a>
              <ul class="nav" style="margin-left: 1em; margin-bottom: 0;">
                <li>
                  <a href="/projects/syslog-ng/mongodb/">
                    mongodb destination
                  </a>
                </li>
                <li>
                  <a href="http://mojology.madhouse-project.org/">
                    mojology
                  </a>
                </li>
                <li>
                  <a href="http://algernon.github.com/balabit.logstore">
                    balabit.logstore
                  </a>
                </li>
              </ul>
            </li>
            <li>
              <a href="/projects/debian/">
                Debian packages
              </a>
            </li>
            <li>
              <span>Repositories</span>
              <ul class="nav" style="margin-left: 1em; margin-bottom: 0;">
                <li>
                  <a href="https://github.com/algernon/?tab=repositories">GitHub</a>
                </li>
                <li>
                  <a href="http://git.madhouse-project.org">MadHouse</a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
        <div class="span2">
          <h4><a href="/about/">Social</a></h4>
          <ul class="nav">
            <li>
              <a href="http://identi.ca/algernon">identi.ca</a>
            </li>
            <li>
              <a href="https://twitter.com/algernoone">Twitter</a>
            </li>
            <li>
              <a href="https://plus.google.com/116945904339060122801/posts">Google+</a>
            </li>
            <li>
              <a href="https://github.com/algernon">GitHub</a>
            </li>
            <li class="divider"></li>
            <li>
              <a href="http://qa.debian.org/developer.php?login=algernon@madhouse-project.org">
                Debian
              </a>
            </li>
            <li>
              <a href="http://algernon.blogs.balabit.com/">
                BalaBit
              </a>
            </li>
          </ul>
        </div>
        <div class="span1"></div>
      </div>

      <!-- copyright -->
      <div class="row-fluid">
        <div class="span12">
          <hr>
        </div>
      </div>
      <div class="row-fluid">
        <div class="span9">
          Copyright © 2010, 2011, 2012, 2013, 2014 - Gergely Nagy;
          Powered by <a href="https://github.com/algernon/madness">madness</a>.
        </div>
        <div class="span3 pull-right">
          <a href="http://creativecommons.org/licenses/by-sa/3.0/" class="pull-right" rel="license">
            <img height="15" width="80" src="//i.creativecommons.org/l/by-sa/3.0/80x15.png" alt="Creative Commons License"></a>
        </div>
      </div>
    </footer>

    <!-- Scripts -->
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="/assets/asylum/js/asylum.js"></script>
    <script type="text/javascript">
      var pkBaseURL = (("https:" == document.location.protocol) ? "https://stats.madhouse-project.org/piwik/" : "http://stats.madhouse-project.org/piwik/");
      document.write(unescape("%3Cscript src='" + pkBaseURL + "piwik.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
      try {
        var piwikTracker = Piwik.getTracker(pkBaseURL + "piwik.php", 9);
        piwikTracker.trackPageView();
        piwikTracker.enableLinkTracking();
      } catch( err ) {}
    </script>
    <noscript><p><img src="//stats.madhouse-project.org/piwik/piwik.php?idsite=9" style="border:0" alt="" /></p></noscript>
  </body>
</html>
