<!DOCTYPE html>
<html>
    <!-- This code is only meant for previewing your Reflow design. -->
    <head>
	<link rel="stylesheet" href="/assets/boilerplate.css" />
	<link rel="stylesheet" href="/assets/home.css" />
	<meta charset="utf-8">
	<meta name="viewport" content="initial-scale = 1.0,maximum-scale = 1.0" />
	<script>var __adobewebfontsappname__ = "reflow"</script>
	<script src="http://use.edgefonts.net/aclonica:n4:all.js"></script>
    </head>
    <body>

    <div id="primaryContainer" class="primaryContainer clearfix">
        <div id="banner" class="clearfix">
            <div id="nav" class="clearfix">
                <div id="home" class="clearfix">
                    <img id="b1" src="/assets/img/b1.png" class="image" />
                    <p id="Home">
                    Home
                    </p>
                </div>
                <div id="windows" class="clearfix">
                    <p id="Window_Treatments">
                    Window Treatments
                    </p>
                    <img id="b2" src="/assets/img/b2.png" class="image" />
                </div>
                <div id="measure" class="clearfix">
                    <p id="Measure_Install">
                    Measure&Install
                    </p>
                    <img id="b3" src="/assets/img/b3.png" class="image" />
                </div>
                <div id="galleries" class="clearfix">
                    <p id="Galleries">
                    Gallery
                    </p>
                    <img id="b4" src="/assets/img/b4.png" class="image" />
                </div>
                <div id="about" class="clearfix">
                    <img id="b5" src="/assets/img/b5.png" class="image" />
                    <p id="About_Us">
                    About Us
                    </p>
                </div>
            </div>
        </div>
        <div id="grid" class="clearfix">
            <div id="madness-article">
              <h2 title="the lastest article">the lastest article</h2>
            </div>
            <div class="madness-article-meta">
                <span class="article-date">
                  <i class="fa fa-calendar fa-fw"></i>
                  <a href="#" id="madness-article-date">2013-11-30</a>
                </span>
                <span class="article-tags pull-right">
                  <i style="color: #808080" class="fa fa-tags fa-fw"></i>
                  <span id="madness-article-tags">
                    <a href="#"><span>tag</span></a>
                </span>
                <hr>
            </div>
            <div id="madness-article-content">
                ....
            </div>
             <div id="madness-article-read-more">
                <a class="btn btn-primary madness-read-on">
                  Read on <i class="fa fa-fw fa-angle-double-right"></i>
                </a>
            </div>
            <div id="madness-article-neighbours">
                <ul class="pager">
                  <li class="previous" id="madness-article-prev">
                    <a href="#">&lt; Prev</a>
                  </li>
                  <li class="next" id="madness-article-next">
                    <a href="#">Next &gt;</a>
                  </li>
                </ul>
            </div>
        </div>
        <p id="text">
        Copyright@ Yi Dao International Trading Co.Ltd. All rights reserved. <br />Designed and hosted by Richever Technology Ltd. 
        </p>
    </div>
    </body>
</html>
