<!DOCTYPE html>
<html>
    <!-- This code is only meant for previewing your Reflow design. -->
    <head>
        <link href="http://netdna.bootstrapcdn.com/bootswatch/3.0.2/yeti/bootstrap.min.css" rel="stylesheet">
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
	<link rel="stylesheet" href="/assets/boilerplate.css" />
	<link rel="stylesheet" href="/assets/home.css" />
	<meta charset="utf-8">
	<meta name="viewport" content="initial-scale = 1.0,maximum-scale = 1.0" />
	<script>var __adobewebfontsappname__ = "reflow"</script>
	<script src="http://use.edgefonts.net/aclonica:n4:all.js"></script>
    </head>
    <body>

    <div id="primaryContainer" class="primaryContainer clearfix">
        <div id="banner" class="clearfix">
            <div id="nav" class="clearfix">
                <div id="home" class="clearfix">
                    <img id="b1" src="/assets/img/b1.png" class="image" />
                    <p id="Home">
                    <a href="/">Home</a>
                    </p>
                </div>
                <div id="windows" class="clearfix">
                    <p id="Window_Treatments">
                    <a href="/windows">Window Treatments</a>
                    </p>
                    <img id="b2" src="/assets/img/b2.png" class="image" />
                </div>
                <div id="measure" class="clearfix">
                    <p id="Measure_Install">
                    <a href="/measure">Measure&Install</a>
                    </p>
                    <img id="b3" src="/assets/img/b3.png" class="image" />
                </div>
                <div id="galleries" class="clearfix">
                    <p id="Galleries">
                    <a href="/gallery">Gallery</a>
                    </p>
                    <img id="b4" src="/assets/img/b4.png" class="image" />
                </div>
                <div id="about" class="clearfix">
                    <img id="b5" src="/assets/img/b5.png" class="image" />
                    <p id="About_Us">
                    <a href="/about">About Us</a>
                    </p>
                </div>
            </div>
        </div>
        <div id="grid" class="clearfix">
          <section id="madness-article" class="madness-article-frame">
            <h2 title="the lastest article" class="col-lg-offset-1">
              <a href="#">
                the lastest news
              </a>
            </h2>
            <div class="madness-article-meta row">
                <span class="article-date col-lg-offset-1">
                  <i class="fa fa-calendar fa-fw"></i>
                  <a href="#" id="madness-article-date">2013-11-30</a>
                </span>
                <span class="article-tags pull-right">
                  <i style="color: #808080" class="fa fa-tags fa-fw"></i>
                  <span id="madness-article-tags">
                    <a href="#"><span>tag</span></a>
                </span>
                <hr>
            </div>
            <div id="madness-article-content" class="row">
                ....
            </div>
            <br /><br /><br />
            <div id="madness-article-read-more" class="row">
                <a class="col-lg-offset-8 btn btn-default madness-read-on">
                  Read on <i class="fa fa-fw fa-angle-double-right"></i>
                </a>
            </div>
            <div id="madness-article-neighbours">
                <ul class="pager">
                  <li class="previous" id="madness-article-prev">
                    <a href="#">&lt; Prev</a>
                  </li>
                  <li class="next" id="madness-article-next">
                    <a href="#">Next &gt;</a>
                  </li>
                </ul>
            </div>
            <div id="madness-article-share">
              <hr>
              <div class="col-lg-6 col-lg-offset-4 col-md-6 col-md-offset-4 col-sm-6 col-sm-offset-4 col-xs-6 col-xs-offset-4 text-right">
                <a href="https://twitter.com/share?url=www.yidaohomedecor.ca" 
                   class="btn btn-success btn-xs madness-share-twitter"
                   target="_blank">
                    <i class="fa fa-fw fa-twitter"></i>
                  </a>
                  <a href="https://plus.google.com/share?url=www.yidaohomedecor.ca"
                     target="_blank"
                     class="btn btn-success btn-xs madness-share-google-plus">
                    <i class="fa fa-fw fa-google-plus"></i>
                  </a>
              </div>
            </div>
            <div id="madness-archive-recent-posts">
              <div id="madness-archive-recent-post-row">
                 <div class="col-xs-3" id="madness-archive-recent-post">
                    <h3 class="madness-post-title">
                      <a href="#" rel="tooltip"
                         title="The latest article">
                        The latest article
                      </a>
                    </h3>
                 </div>
              </div>
            </div>
            <div id="madness-archive-archived-posts">
              <div class="row" id="madness-archive-archived-post-row">
              </div>
            </div>
          </section>
        </div>
        <p id="cpright">
        Copyright@ Yi Dao International Trading Co.Ltd. All rights reserved. <br />Designed and hosted by <a href="http://www.richever.ca">Richever Technology Ltd.</a> 
        </p>
    </div>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/mousetrap/1.4.5/mousetrap.min.js"></script>
    </body>
</html>
